@model ChartSite.Models.ViewModels.Home.IndexViewModel
<div class="row">
    <h1>Jaki jest Twój ulubiony kolor?</h1>
    <div class="col-lg-6 col-md-12">
        @Html.Partial("Widgets/ChartWidget", new ChartWidgetModel(){Height = 350, Width = 500})
    </div>
    <div class="col-lg-6 col-md-12">
        @Html.Partial("Widgets/JsonPreviewWidget", new JsonPreviewWidgetModel(){ Json = Model.ChartData})
    </div>
</div>

@section Scripts {
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: @Html.Raw(Model.ChartData),
            options: {}
        });
    </script>
}